<!DOCTYPE html>
{% load static %}

<html>

    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'play/main.css' %}" />

        <title>gaana app</title>
    </head>

    <body>

        <!-- AddThis Smart Layers BEGIN -->
<!-- Go to http://www.addthis.com/get/smart-layers to customize -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5282f81a4d12e88c"></script>
<script type="text/javascript">
  addthis.layers({
    'theme' : 'transparent',
    'share' : {
      'position' : 'left',
      'numPreferredServices' : 3
    }   
  });
</script>
<!-- AddThis Smart Layers END -->
     
        <p id="about-title"> Tired of surfing music sites for song(s) of your taste?<br/> <br/> 
        <p id="about-des">Most of us have suffered this at one point or another. <br/> Gaana will give you the songs of your taste. Sit back and enjoy.  :) </p>
 
        <form action="/play/home/" >
             <input type="submit" value="home" class="home-about">
        </form> <br/>
        
        <p class="created"> Made by <a target="_blank" href="https://www.facebook.com/exploretheweb">anur@g</a></p>
    </body>

</html>
