<!DOCTYPE html>
{% load static %}


<html>

    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'play/main.css' %}" />

        <title>gaana app</title>
    </head>

    <body>
        
       
               <small class="site-description"> sample
               </small>

        </h1>
  
        <form action="/play/fb/" >
             <input type="submit" value="play" class="click">
        </form> <br/>

        <a href="/play/about/"><button>About</button></a>
        
        <p class="created"> Made by <a href="https://www.facebook.com/exploretheweb">anur@g</a></p>

    </body>

</html>
