<!DOCTYPE html>

{% load static %}

<html>

    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'play/main.css' %}" />

        <title>gaana app</title>
    </head>

    <body>
        
        <br/>
        
        <p id="over"> Thanks for visiting the app. </p> 
        
        
        <form action="/play/home/" >
             <input type="submit" value="home" class="home-about">
        </form> 
        
        <p class="created"> Made by <a href="https://www.facebook.com/exploretheweb">anur@g</a></p>
        


    </body>

</html>
