<!DOCTYPE html>

{% load static %}

<html>

    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'play/main.css' %}" />

        <title>gaana app</title>
    </head>

    <body>

<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
<a class="addthis_button_preferred_1"></a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
<a class="addthis_button_preferred_4"></a>
<a class="addthis_button_compact"></a>
<a class="addthis_counter addthis_bubble_style"></a>
</div>
<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5282fbd526b49c8e"></script>
<!-- AddThis Button END -->
        
        <br/>
        
        <p id="over"> Liked the feature, share it with your friends </p> 
        
        <small class="site-description"> sample
               </small>

        
        <form action="/play/home/" >
             <input type="submit" value="home" class="home-about">
        </form> 
        
        <p class="created"> Made by <a target="_blank" href="https://www.facebook.com/exploretheweb">anur@g</a></p>
        


    </body>

</html>
